In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Python List

In [26]:
a=[10, 20, 30, 40]
b=[20, 30, 40, 50]
for i in range(4):
    c=a[i]+b[i]
    print(c)

30
50
70
90

## Python Dictionaries

In [39]:
menu ={
    "Piza":2000,
    "Coke":100,
    "Fries":300,
    "Fries":250
}
print(menu)
a=menu["Piza"]
print(f"Price of Piza is:{a}")

{'Piza': 2000, 'Coke': 100, 'Fries': 250}
Price of Piza is:2000

In [1]:
import pandas as pd

In [3]:
raw=pd.read_csv("abc.csv")

In [4]:
raw.head()

     Month  Accidental deaths in USA: monthly, 1973 ? 1978
0  1973-01                                            9007
1  1973-02                                            8106
2  1973-03                                            8928
3  1973-04                                            9137
4  1973-05                                           10017

In [8]:
raw.columns

Index(['Month', 'Accidental deaths in USA: monthly, 1973 ? 1978'], dtype='object')

In [11]:
raw["Month"].isnull()

0     False
1     False
2     False
3     False
4     False
      ...
67    False
68    False
69    False
70    False
71    False
Name: Month, Length: 72, dtype: bool