In [30]:
import pandas as pd
import datetime as dt
from pandas_datareader import data
from pandas.tseries.offsets import *

## Review of Python's datetime Module

In [10]:
someday=dt.date(1997, 4, 14)

In [11]:
someday.month

4

In [18]:
str(someday)

'1997-04-14'

In [17]:
dt.datetime(2016,1,20, 8, 15, 20)

datetime.datetime(2016, 1, 20, 8, 15, 20)

In [16]:
str(dt.datetime(2016,1,20, 8, 15, 20))

'2016-01-20 08:15:20'

In [22]:
str(dt.datetime(2016,1,20, 17, 15, 20))

'2016-01-20 17:15:20'

In [23]:
sometime=dt.datetime(2016,1,20, 17, 15, 20)

In [29]:
sometime.year
sometime.hour
sometime.minute
sometime.second

20

## The pandas Timestamp Object

In [45]:
pd.Timestamp("2016-03-15")
pd.Timestamp("2016, 03, 15")
pd.Timestamp("2016/ 03/ 15")
pd.Timestamp("15/1/2015")
pd.Timestamp("15-04-2019")
pd.Timestamp("12-03-2015")
pd.Timestamp("12-03-15")
pd.Timestamp("12-03-15 8:30:15")
pd.Timestamp("12-03-15 8:30:15 PM")

Timestamp('2015-12-03 20:30:15')

In [48]:
pd.Timestamp(dt.date(2015, 4, 15))

Timestamp('2015-04-15 00:00:00')

In [49]:
pd.Timestamp(dt.datetime(2015, 4, 15, 8, 32, 55))

Timestamp('2015-04-15 08:32:55')

## The pd.to_datetime() Method

In [50]:
pd.to_datetime("2015-04-19")

Timestamp('2015-04-19 00:00:00')

In [53]:
pd.to_datetime(["2012-12-12", "April 14 1997", "12,12,2010"])

DatetimeIndex(['2012-12-12', '1997-04-14', '2010-12-01'], dtype='datetime64[ns]', freq=None)

In [56]:
times=pd.Series(["2012-12-12", "April 14, 1997", "12,12,2010"])
times

0        2012-12-12
1    April 14, 1997
2        12,12,2010
dtype: object

In [57]:
pd.to_datetime(times)

0   2012-12-12
1   1997-04-14
2   2010-12-01
dtype: datetime64[ns]

In [59]:
dates=pd.Series(["2012-12-12", "April 14, 1997", "12,12,2010", "Hello", "2015-02-31"])
dates

0        2012-12-12
1    April 14, 1997
2        12,12,2010
3             Hello
4        2015-02-31
dtype: object

In [61]:
pd.to_datetime(dates, errors="coerce")

0   2012-12-12
1   1997-04-14
2   2010-12-01
3          NaT
4          NaT
dtype: datetime64[ns]

## Create Range of Dates with the pd.date_range() Method, Part 1

In [8]:
times=pd.date_range(start="2016-1-01", end="2016-01-10", freq="D")
times

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10'],
              dtype='datetime64[ns]', freq='D')

In [10]:
times=pd.date_range(start="2016-1-01", end="2016-01-10", freq="2D")
times

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [11]:
times=pd.date_range(start="2016-1-01", end="2016-01-10", freq="B")  
times

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [12]:
times=pd.date_range(start="2016-1-01", end="2016-01-10", freq="W")
times

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [14]:
pd.date_range(start="2016-1-01", end="2016-01-10", freq="W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [15]:
pd.date_range(start="2016-1-01", end="2016-01-10", freq="H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [20]:
pd.date_range(start="2016-1-01", end="2016-01-10", freq="15H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 15:00:00',
               '2016-01-02 06:00:00', '2016-01-02 21:00:00',
               '2016-01-03 12:00:00', '2016-01-04 03:00:00',
               '2016-01-04 18:00:00', '2016-01-05 09:00:00',
               '2016-01-06 00:00:00', '2016-01-06 15:00:00',
               '2016-01-07 06:00:00', '2016-01-07 21:00:00',
               '2016-01-08 12:00:00', '2016-01-09 03:00:00',
               '2016-01-09 18:00:00'],
              dtype='datetime64[ns]', freq='15H')

In [19]:
pd.date_range(start="2016-1-01", end="2016-12-10", freq="M")

DatetimeIndex(['2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30',
               '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31',
               '2016-09-30', '2016-10-31', '2016-11-30'],
              dtype='datetime64[ns]', freq='M')

In [22]:
pd.date_range(start="2016-1-01", end="2016-12-10", freq="MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [23]:
pd.date_range(start="2016-1-01", end="2050-12-10", freq="A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

## Create Range of Dates with the pd.date_range() Method, Part 2

In [25]:
pd.date_range(start="2016-01-01", periods=25, freq="D")

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-16',
               '2016-01-17', '2016-01-18', '2016-01-19', '2016-01-20',
               '2016-01-21', '2016-01-22', '2016-01-23', '2016-01-24',
               '2016-01-25'],
              dtype='datetime64[ns]', freq='D')

In [26]:
pd.date_range(start="2016-01-01", periods=25, freq="B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14', '2016-01-15', '2016-01-18',
               '2016-01-19', '2016-01-20', '2016-01-21', '2016-01-22',
               '2016-01-25', '2016-01-26', '2016-01-27', '2016-01-28',
               '2016-01-29', '2016-02-01', '2016-02-02', '2016-02-03',
               '2016-02-04'],
              dtype='datetime64[ns]', freq='B')

In [27]:
pd.date_range(start="2016-01-01", periods=50, freq="W")

DatetimeIndex(['2016-01-03', '2016-01-10', '2016-01-17', '2016-01-24',
               '2016-01-31', '2016-02-07', '2016-02-14', '2016-02-21',
               '2016-02-28', '2016-03-06', '2016-03-13', '2016-03-20',
               '2016-03-27', '2016-04-03', '2016-04-10', '2016-04-17',
               '2016-04-24', '2016-05-01', '2016-05-08', '2016-05-15',
               '2016-05-22', '2016-05-29', '2016-06-05', '2016-06-12',
               '2016-06-19', '2016-06-26', '2016-07-03', '2016-07-10',
               '2016-07-17', '2016-07-24', '2016-07-31', '2016-08-07',
               '2016-08-14', '2016-08-21', '2016-08-28', '2016-09-04',
               '2016-09-11', '2016-09-18', '2016-09-25', '2016-10-02',
               '2016-10-09', '2016-10-16', '2016-10-23', '2016-10-30',
               '2016-11-06', '2016-11-13', '2016-11-20', '2016-11-27',
               '2016-12-04', '2016-12-11'],
              dtype='datetime64[ns]', freq='W-SUN')

In [28]:
pd.date_range(start="2016-01-01", periods=25, freq="MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01',
               '2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01', '2017-07-01', '2017-08-01',
               '2017-09-01', '2017-10-01', '2017-11-01', '2017-12-01',
               '2018-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [29]:
pd.date_range(start="2016-01-01", periods=25, freq="W-MON")

DatetimeIndex(['2016-01-04', '2016-01-11', '2016-01-18', '2016-01-25',
               '2016-02-01', '2016-02-08', '2016-02-15', '2016-02-22',
               '2016-02-29', '2016-03-07', '2016-03-14', '2016-03-21',
               '2016-03-28', '2016-04-04', '2016-04-11', '2016-04-18',
               '2016-04-25', '2016-05-02', '2016-05-09', '2016-05-16',
               '2016-05-23', '2016-05-30', '2016-06-06', '2016-06-13',
               '2016-06-20'],
              dtype='datetime64[ns]', freq='W-MON')

In [30]:
pd.date_range(start="2016-01-01", periods=25, freq="A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [31]:
pd.date_range(start="2016-01-01", periods=25, freq="H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               '2016-01-01 10:00:00', '2016-01-01 11:00:00',
               '2016-01-01 12:00:00', '2016-01-01 13:00:00',
               '2016-01-01 14:00:00', '2016-01-01 15:00:00',
               '2016-01-01 16:00:00', '2016-01-01 17:00:00',
               '2016-01-01 18:00:00', '2016-01-01 19:00:00',
               '2016-01-01 20:00:00', '2016-01-01 21:00:00',
               '2016-01-01 22:00:00', '2016-01-01 23:00:00',
               '2016-01-02 00:00:00'],
              dtype='datetime64[ns]', freq='H')

In [32]:
pd.date_range(start="2016-01-01", periods=25, freq="10H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 10:00:00',
               '2016-01-01 20:00:00', '2016-01-02 06:00:00',
               '2016-01-02 16:00:00', '2016-01-03 02:00:00',
               '2016-01-03 12:00:00', '2016-01-03 22:00:00',
               '2016-01-04 08:00:00', '2016-01-04 18:00:00',
               '2016-01-05 04:00:00', '2016-01-05 14:00:00',
               '2016-01-06 00:00:00', '2016-01-06 10:00:00',
               '2016-01-06 20:00:00', '2016-01-07 06:00:00',
               '2016-01-07 16:00:00', '2016-01-08 02:00:00',
               '2016-01-08 12:00:00', '2016-01-08 22:00:00',
               '2016-01-09 08:00:00', '2016-01-09 18:00:00',
               '2016-01-10 04:00:00', '2016-01-10 14:00:00',
               '2016-01-11 00:00:00'],
              dtype='datetime64[ns]', freq='10H')

## Create Range of Dates with the pd.date_range() Method, Part 3

In [37]:
pd.date_range(end="1999-12-31", periods=20, freq="D")

DatetimeIndex(['1999-12-12', '1999-12-13', '1999-12-14', '1999-12-15',
               '1999-12-16', '1999-12-17', '1999-12-18', '1999-12-19',
               '1999-12-20', '1999-12-21', '1999-12-22', '1999-12-23',
               '1999-12-24', '1999-12-25', '1999-12-26', '1999-12-27',
               '1999-12-28', '1999-12-29', '1999-12-30', '1999-12-31'],
              dtype='datetime64[ns]', freq='D')

## The .dt Accessor

In [5]:
bunches_of_dates=pd.date_range(start="1997-04-14", end="2020-06-17", freq="D")
bunches_of_dates

DatetimeIndex(['1997-04-14', '1997-04-15', '1997-04-16', '1997-04-17',
               '1997-04-18', '1997-04-19', '1997-04-20', '1997-04-21',
               '1997-04-22', '1997-04-23',
               ...
               '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
               '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15',
               '2020-06-16', '2020-06-17'],
              dtype='datetime64[ns]', length=8466, freq='D')

In [6]:
s=pd.Series(bunches_of_dates)

In [7]:
s

0      1997-04-14
1      1997-04-15
2      1997-04-16
3      1997-04-17
4      1997-04-18
          ...
8461   2020-06-13
8462   2020-06-14
8463   2020-06-15
8464   2020-06-16
8465   2020-06-17
Length: 8466, dtype: datetime64[ns]

In [15]:
len(pd.date_range(start="1997-04-14", end="2020-06-17", freq="D"))

8466

In [14]:
s.dt.month

0       4
1       4
2       4
3       4
4       4
       ..
8461    6
8462    6
8463    6
8464    6
8465    6
Length: 8466, dtype: int64

In [16]:
bunches_of_dates=pd.date_range(start="1997-04-14", end="2020-06-17", freq="M")
bunches_of_dates

DatetimeIndex(['1997-04-30', '1997-05-31', '1997-06-30', '1997-07-31',
               '1997-08-31', '1997-09-30', '1997-10-31', '1997-11-30',
               '1997-12-31', '1998-01-31',
               ...
               '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30',
               '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31',
               '2020-04-30', '2020-05-31'],
              dtype='datetime64[ns]', length=278, freq='M')

In [18]:
bm=pd.Series(bunches_of_dates)
bm

0     1997-04-30
1     1997-05-31
2     1997-06-30
3     1997-07-31
4     1997-08-31
         ...
273   2020-01-31
274   2020-02-29
275   2020-03-31
276   2020-04-30
277   2020-05-31
Length: 278, dtype: datetime64[ns]

In [30]:
my_birth_month=bm.dt.month.value_counts()
my_birth_month.sort_index()

1     23
2     23
3     23
4     24
5     24
6     23
7     23
8     23
9     23
10    23
11    23
12    23
dtype: int64

In [58]:
birthmonth=s.dt.month.value_counts()

In [59]:
birthmonth.sort_index()

1     713
2     650
3     713
4     707
5     744
6     707
7     713
8     713
9     690
10    713
11    690
12    713
dtype: int64

In [20]:
len(pd.date_range(start="1999-04-30", end="2020-06-17", freq="D"))

7720

In [21]:
8466-7720

746

In [31]:
bunches_of_dates=pd.date_range(start="1997-04-14", end="2020-06-17", freq="W")
bunches_of_dates

DatetimeIndex(['1997-04-20', '1997-04-27', '1997-05-04', '1997-05-11',
               '1997-05-18', '1997-05-25', '1997-06-01', '1997-06-08',
               '1997-06-15', '1997-06-22',
               ...
               '2020-04-12', '2020-04-19', '2020-04-26', '2020-05-03',
               '2020-05-10', '2020-05-17', '2020-05-24', '2020-05-31',
               '2020-06-07', '2020-06-14'],
              dtype='datetime64[ns]', length=1209, freq='W-SUN')

In [34]:
sunday_in_my_life=pd.Series(bunches_of_dates)

In [36]:
len(sunday_in_my_life)

1209

In [37]:
bunches_of_dates=pd.date_range(start="1997-04-14", end="2020-06-17", freq="H")
bunches_of_dates

DatetimeIndex(['1997-04-14 00:00:00', '1997-04-14 01:00:00',
               '1997-04-14 02:00:00', '1997-04-14 03:00:00',
               '1997-04-14 04:00:00', '1997-04-14 05:00:00',
               '1997-04-14 06:00:00', '1997-04-14 07:00:00',
               '1997-04-14 08:00:00', '1997-04-14 09:00:00',
               ...
               '2020-06-16 15:00:00', '2020-06-16 16:00:00',
               '2020-06-16 17:00:00', '2020-06-16 18:00:00',
               '2020-06-16 19:00:00', '2020-06-16 20:00:00',
               '2020-06-16 21:00:00', '2020-06-16 22:00:00',
               '2020-06-16 23:00:00', '2020-06-17 00:00:00'],
              dtype='datetime64[ns]', length=203161, freq='H')

## Import Financial Data Set with pandas_datareader Library

In [2]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

C:\Users\Bilal\Anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

In [56]:
company = "MSFT"
start = "2010-01-01"
end = "2017-12-31"
stocks=data.DataReader(name=company, data_source = "yahoo", start=start, end=end)

In [57]:
stocks.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2009-12-31  30.990000  30.480000  30.980000  30.480000  31929700.0  23.858992
2010-01-04  31.100000  30.590000  30.620001  30.950001  38409100.0  24.226894
2010-01-05  31.100000  30.639999  30.850000  30.959999  49749600.0  24.234720
2010-01-06  31.080000  30.520000  30.879999  30.770000  58182400.0  24.085989
2010-01-07  30.700001  30.190001  30.629999  30.450001  50559700.0  23.835503

In [31]:
stocks.tail()

                 High        Low       Open      Close      Volume  Adj Close
Date
2017-12-22  85.629997  84.919998  85.400002  85.510002  14145800.0  82.375114
2017-12-26  85.529999  85.029999  85.309998  85.400002   9891200.0  82.269165
2017-12-27  85.980003  85.220001  85.650002  85.709999  14678000.0  82.567787
2017-12-28  85.930000  85.550003  85.900002  85.720001  10594300.0  82.577423
2017-12-29  86.050003  85.500000  85.629997  85.540001  18717400.0  82.404037

In [19]:
stocks.values
stocks.columns
stocks.index
stocks.index[0]
stocks.axes

[DatetimeIndex(['2009-12-31', '2010-01-04', '2010-01-05', '2010-01-06',
                '2010-01-07', '2010-01-08', '2010-01-11', '2010-01-12',
                '2010-01-13', '2010-01-14',
                ...
                '2017-12-15', '2017-12-18', '2017-12-19', '2017-12-20',
                '2017-12-21', '2017-12-22', '2017-12-26', '2017-12-27',
                '2017-12-28', '2017-12-29'],
               dtype='datetime64[ns]', name='Date', length=2014, freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

## Selecting Rows from a DataFrame with a DateTimeIndex

In [26]:
stocks.loc["2014-03-14"]
stocks.iloc[300]

High         2.585000e+01
Low          2.536000e+01
Open         2.541000e+01
Close        2.568000e+01
Volume       4.990580e+07
Adj Close    2.064161e+01
Name: 2011-03-11 00:00:00, dtype: float64

In [27]:
stocks.loc["2016-01-01"]

KeyError: '2016-01-01'

In [29]:
stocks.loc["2016-01-03" : "2016-01-15"]

                 High        Low       Open      Close      Volume  Adj Close
Date
2016-01-04  54.799999  53.389999  54.320000  54.799999  53778000.0  50.258858
2016-01-05  55.389999  54.540001  54.930000  55.049999  34079700.0  50.488148
2016-01-06  54.400002  53.639999  54.320000  54.049999  39518900.0  49.571011
2016-01-07  53.490002  52.070000  52.700001  52.169998  56564900.0  47.846802
2016-01-08  53.279999  52.150002  52.369999  52.330002  48754000.0  47.993549
2016-01-11  52.849998  51.459999  52.509998  52.299999  36943800.0  47.966030
2016-01-12  53.099998  52.060001  52.759998  52.779999  36095500.0  48.406258
2016-01-13  54.070000  51.299999  53.799999  51.639999  66883600.0  47.360725
2016-01-14  53.419998  51.570000  52.000000  53.110001  52381900.0  48.708912
2016-01-15  51.970001  50.340000  51.310001  50.990002  71820700.0  46.764599

In [38]:
birthday=pd.date_range(start="1997-04-14", end="2020-06-17", freq="A")
birthday

DatetimeIndex(['1997-12-31', '1998-12-31', '1999-12-31', '2000-12-31',
               '2001-12-31', '2002-12-31', '2003-12-31', '2004-12-31',
               '2005-12-31', '2006-12-31', '2007-12-31', '2008-12-31',
               '2009-12-31', '2010-12-31', '2011-12-31', '2012-12-31',
               '2013-12-31', '2014-12-31', '2015-12-31', '2016-12-31',
               '2017-12-31', '2018-12-31', '2019-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [42]:
birthday=pd.date_range(start="1997-04-14", end="2020-06-17", freq=pd.DateOffset(years=1))
birthday

DatetimeIndex(['1997-04-14', '1998-04-14', '1999-04-14', '2000-04-14',
               '2001-04-14', '2002-04-14', '2003-04-14', '2004-04-14',
               '2005-04-14', '2006-04-14', '2007-04-14', '2008-04-14',
               '2009-04-14', '2010-04-14', '2011-04-14', '2012-04-14',
               '2013-04-14', '2014-04-14', '2015-04-14', '2016-04-14',
               '2017-04-14', '2018-04-14', '2019-04-14', '2020-04-14'],
              dtype='datetime64[ns]', freq='<DateOffset: years=1>')

In [43]:
stocks[stocks.index.isin(birthday)]

                 High        Low       Open      Close      Volume  Adj Close
Date
2010-04-14  31.000000  30.660000  30.790001  30.820000  68941200.0  24.237951
2011-04-14  25.440001  25.090000  25.420000  25.420000  55239900.0  20.432629
2014-04-14  39.410000  38.900002  39.110001  39.180000  32006600.0  34.303917
2015-04-14  42.029999  41.389999  41.799999  41.650002  24244400.0  37.450867
2016-04-14  55.580002  55.070000  55.220001  55.360001  20877100.0  51.136993

## Timestamp Object Attributes

In [52]:
someday=stocks.index[500]
someday.
# someday.week_dayname

In [59]:
stocks.insert(0, "Day Of Week", stocks.index.is_month_start)

In [60]:
stocks

,Day Of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2009-12-31,False,30.990000,30.480000,30.980000,30.480000,31929700.0,23.858992
2010-01-04,False,31.100000,30.590000,30.620001,30.950001,38409100.0,24.226894
2010-01-05,False,31.100000,30.639999,30.850000,30.959999,49749600.0,24.234720
2010-01-06,False,31.080000,30.520000,30.879999,30.770000,58182400.0,24.085989
2010-01-07,False,30.700001,30.190001,30.629999,30.450001,50559700.0,23.835503
...,...,...,...,...,...,...,...
2017-12-22,False,85.629997,84.919998,85.400002,85.510002,14145800.0,82.375114
2017-12-26,False,85.529999,85.029999,85.309998,85.400002,9891200.0,82.269165
2017-12-27,False,85.980003,85.220001,85.650002,85.709999,14678000.0,82.567787
2017-12-28,False,85.930000,85.550003,85.900002,85.720001,10594300.0,82.577423
2017-12-29,False,86.050003,85.500000,85.629997,85.540001,18717400.0,82.404037

In [63]:
stocks[stocks["Day Of Week"]]

,Day Of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2010-02-01,True,28.480000,27.920000,28.389999,28.410000,85931100.0,22.238642
2010-03-01,True,29.049999,28.530001,28.770000,29.020000,43805400.0,22.822367
2010-04-01,True,29.540001,28.620001,29.350000,29.160000,74768100.0,22.932465
2010-06-01,True,26.309999,25.520000,25.530001,25.889999,76152400.0,20.452698
2010-07-01,True,23.320000,22.730000,23.090000,23.160000,92239400.0,18.296041
...,...,...,...,...,...,...,...
2017-06-01,True,70.610001,69.449997,70.239998,70.099998,21603600.0,66.836517
2017-08-01,True,73.419998,72.489998,73.099998,72.580002,22132300.0,69.201080
2017-09-01,True,74.739998,73.639999,74.709999,73.940002,21736200.0,70.873360
2017-11-01,True,83.760002,82.879997,83.680000,83.180000,22307400.0,79.730133
2017-12-01,True,84.809998,83.220001,83.599998,84.260002,29532100.0,81.170952

## The .truncate() Method

In [64]:
stocks.truncate(before="2011-01-01", after="2012-01-01")

,Day Of Week,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,
2011-01-03,False,28.180000,27.920000,28.049999,27.980000,53443800.0,22.358212
2011-01-04,False,28.170000,27.850000,27.940001,28.090000,54405600.0,22.446114
2011-01-05,False,28.010000,27.770000,27.900000,28.000000,58998700.0,22.374191
2011-01-06,False,28.850000,27.860001,28.040001,28.820000,88026300.0,23.029436
2011-01-07,False,28.740000,28.250000,28.639999,28.600000,73762000.0,22.853636
...,...,...,...,...,...,...,...
2011-12-23,False,26.040001,25.730000,25.910000,26.030001,23205800.0,21.352606
2011-12-27,False,26.139999,25.930000,25.959999,26.040001,21287200.0,21.360813
2011-12-28,False,26.150000,25.760000,26.110001,25.820000,29822500.0,21.180338
2011-12-29,False,26.049999,25.860001,25.950001,26.020000,22616900.0,21.344400
2011-12-30,False,26.120001,25.910000,26.000000,25.959999,27395700.0,21.295179

## pd.DateOffset Objects

In [3]:
dt.datetime.now()

datetime.datetime(2020, 6, 18, 9, 42, 30, 669437)

In [6]:
stock=data.DataReader(name="GOOG", data_source="yahoo", start="2000-01-01", end=dt.datetime.now())
stock.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735
2004-08-24  55.591629  51.591621  55.412300  52.239193  15319700.0  52.239193
2004-08-25  53.798351  51.746044  52.284027  52.802086   9232100.0  52.802086

In [8]:
stock.index + pd.DateOffset(days=5)

DatetimeIndex(['2004-08-24', '2004-08-25', '2004-08-28', '2004-08-29',
               '2004-08-30', '2004-08-31', '2004-09-01', '2004-09-04',
               '2004-09-05', '2004-09-06',
               ...
               '2020-06-09', '2020-06-10', '2020-06-13', '2020-06-14',
               '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-20',
               '2020-06-21', '2020-06-22'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [9]:
stock.index + pd.DateOffset(weeks=2)

DatetimeIndex(['2004-09-02', '2004-09-03', '2004-09-06', '2004-09-07',
               '2004-09-08', '2004-09-09', '2004-09-10', '2004-09-13',
               '2004-09-14', '2004-09-15',
               ...
               '2020-06-18', '2020-06-19', '2020-06-22', '2020-06-23',
               '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-29',
               '2020-06-30', '2020-07-01'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [10]:
stock.index - pd.DateOffset(days=5)

DatetimeIndex(['2004-08-14', '2004-08-15', '2004-08-18', '2004-08-19',
               '2004-08-20', '2004-08-21', '2004-08-22', '2004-08-25',
               '2004-08-26', '2004-08-27',
               ...
               '2020-05-30', '2020-05-31', '2020-06-03', '2020-06-04',
               '2020-06-05', '2020-06-06', '2020-06-07', '2020-06-10',
               '2020-06-11', '2020-06-12'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [11]:
stock.index + pd.DateOffset(months=5)

DatetimeIndex(['2005-01-19', '2005-01-20', '2005-01-23', '2005-01-24',
               '2005-01-25', '2005-01-26', '2005-01-27', '2005-01-30',
               '2005-01-31', '2005-02-01',
               ...
               '2020-11-04', '2020-11-05', '2020-11-08', '2020-11-09',
               '2020-11-10', '2020-11-11', '2020-11-12', '2020-11-15',
               '2020-11-16', '2020-11-17'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [12]:
stock.index + pd.DateOffset(years=2)

DatetimeIndex(['2006-08-19', '2006-08-20', '2006-08-23', '2006-08-24',
               '2006-08-25', '2006-08-26', '2006-08-27', '2006-08-30',
               '2006-08-31', '2006-09-01',
               ...
               '2022-06-04', '2022-06-05', '2022-06-08', '2022-06-09',
               '2022-06-10', '2022-06-11', '2022-06-12', '2022-06-15',
               '2022-06-16', '2022-06-17'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [13]:
stock.index + pd.DateOffset(hours=2)

DatetimeIndex(['2004-08-19 02:00:00', '2004-08-20 02:00:00',
               '2004-08-23 02:00:00', '2004-08-24 02:00:00',
               '2004-08-25 02:00:00', '2004-08-26 02:00:00',
               '2004-08-27 02:00:00', '2004-08-30 02:00:00',
               '2004-08-31 02:00:00', '2004-09-01 02:00:00',
               ...
               '2020-06-04 02:00:00', '2020-06-05 02:00:00',
               '2020-06-08 02:00:00', '2020-06-09 02:00:00',
               '2020-06-10 02:00:00', '2020-06-11 02:00:00',
               '2020-06-12 02:00:00', '2020-06-15 02:00:00',
               '2020-06-16 02:00:00', '2020-06-17 02:00:00'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [15]:
stock.index + pd.DateOffset(years=2, months=3)

DatetimeIndex(['2006-11-19', '2006-11-20', '2006-11-23', '2006-11-24',
               '2006-11-25', '2006-11-26', '2006-11-27', '2006-11-30',
               '2006-11-30', '2006-12-01',
               ...
               '2022-09-04', '2022-09-05', '2022-09-08', '2022-09-09',
               '2022-09-10', '2022-09-11', '2022-09-12', '2022-09-15',
               '2022-09-16', '2022-09-17'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [16]:
stock.index + pd.DateOffset(years=2, months=3, days=5)

DatetimeIndex(['2006-11-24', '2006-11-25', '2006-11-28', '2006-11-29',
               '2006-11-30', '2006-12-01', '2006-12-02', '2006-12-05',
               '2006-12-05', '2006-12-06',
               ...
               '2022-09-09', '2022-09-10', '2022-09-13', '2022-09-14',
               '2022-09-15', '2022-09-16', '2022-09-17', '2022-09-20',
               '2022-09-21', '2022-09-22'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [17]:
stock.index - pd.DateOffset(years=2, months=3, days=5)

DatetimeIndex(['2002-05-14', '2002-05-15', '2002-05-18', '2002-05-19',
               '2002-05-20', '2002-05-21', '2002-05-22', '2002-05-25',
               '2002-05-26', '2002-05-27',
               ...
               '2018-02-27', '2018-02-28', '2018-03-03', '2018-03-04',
               '2018-03-05', '2018-03-06', '2018-03-07', '2018-03-10',
               '2018-03-11', '2018-03-12'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

## More Fun with pd.DateOffset Objects

In [26]:
stock.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2020-06-04', '2020-06-05', '2020-06-08', '2020-06-09',
               '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-15',
               '2020-06-16', '2020-06-17'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [21]:
stock.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-08-31', '2004-08-31', '2004-08-31', '2004-08-31',
               '2004-09-30', '2004-09-30',
               ...
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [24]:
stock.index[8]

Timestamp('2004-08-31 00:00:00')

In [25]:
stock.index - pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-07-31', '2004-07-31', '2004-07-31',
               '2004-07-31', '2004-08-31',
               ...
               '2020-05-31', '2020-05-31', '2020-05-31', '2020-05-31',
               '2020-05-31', '2020-05-31', '2020-05-31', '2020-05-31',
               '2020-05-31', '2020-05-31'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [28]:
stock.index + pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [29]:
stock.index - pd.tseries.offsets.MonthBegin()

DatetimeIndex(['2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01',
               ...
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [31]:
from pandas.tseries.offsets import *

In [32]:
stock.index - MonthBegin()

DatetimeIndex(['2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01', '2004-08-01', '2004-08-01',
               '2004-08-01', '2004-08-01',
               ...
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [34]:
stock.index + BMonthEnd()
stock.index + BMonthBegin()

DatetimeIndex(['2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-09-01', '2004-09-01', '2004-09-01',
               '2004-09-01', '2004-10-01',
               ...
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01', '2020-07-01', '2020-07-01',
               '2020-07-01', '2020-07-01'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [36]:
stock.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2004-08-19  51.835709  47.800831  49.813286  49.982655  44871300.0  49.982655
2004-08-20  54.336334  50.062355  50.316402  53.952770  22942800.0  53.952770
2004-08-23  56.528118  54.321388  55.168217  54.495735  18342800.0  54.495735
2004-08-24  55.591629  51.591621  55.412300  52.239193  15319700.0  52.239193
2004-08-25  53.798351  51.746044  52.284027  52.802086   9232100.0  52.802086

In [35]:
stock.index + QuarterEnd()

DatetimeIndex(['2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30', '2004-09-30', '2004-09-30',
               '2004-09-30', '2004-09-30',
               ...
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30', '2020-06-30', '2020-06-30',
               '2020-06-30', '2020-06-30'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [37]:
stock.index - QuarterBegin()

DatetimeIndex(['2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01', '2004-06-01', '2004-06-01',
               '2004-06-01', '2004-06-01',
               ...
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01', '2020-06-01', '2020-06-01',
               '2020-06-01', '2020-06-01'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [38]:
stock.index

DatetimeIndex(['2004-08-19', '2004-08-20', '2004-08-23', '2004-08-24',
               '2004-08-25', '2004-08-26', '2004-08-27', '2004-08-30',
               '2004-08-31', '2004-09-01',
               ...
               '2020-06-04', '2020-06-05', '2020-06-08', '2020-06-09',
               '2020-06-10', '2020-06-11', '2020-06-12', '2020-06-15',
               '2020-06-16', '2020-06-17'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [40]:
stock.index + YearEnd()

DatetimeIndex(['2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31', '2004-12-31', '2004-12-31',
               '2004-12-31', '2004-12-31',
               ...
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31', '2020-12-31', '2020-12-31',
               '2020-12-31', '2020-12-31'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

In [41]:
stock.index + YearBegin()

DatetimeIndex(['2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01', '2005-01-01', '2005-01-01',
               '2005-01-01', '2005-01-01',
               ...
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01',
               '2021-01-01', '2021-01-01'],
              dtype='datetime64[ns]', name='Date', length=3985, freq=None)

## The pandas Timedelta Object

In [47]:
a=pd.Timestamp("1997-04-14 4:30:15 PM")
b=pd.Timestamp(dt.datetime.now())

In [49]:
b-a

Timedelta('8465 days 18:10:29.295762')

In [50]:
pd.Timedelta(days=3)

Timedelta('3 days 00:00:00')

In [51]:
pd.Timedelta(days=3, hours=4)

Timedelta('3 days 04:00:00')

In [53]:
pd.Timedelta(weeks=8, days=3, hours=5, minutes=10)

Timedelta('59 days 05:10:00')

In [54]:
pd.Timedelta("10 Days")

Timedelta('10 days 00:00:00')

In [59]:
pd.Timedelta("10 Days 5 Minutes")

Timedelta('10 days 00:05:00')

## Timedeltas in a Dataset

In [124]:
shipping=pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
shipping.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [125]:
shipping["Delivery_time"]=shipping["delivery_date"]-shipping["order_date"]

In [76]:
shippingshipping

    order_date delivery_date Delivery_time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
..         ...           ...           ...
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

In [132]:
import datetime
def parse_date(td):
    resYear = float(td.days)/364.0                   # get the number of years including the the numbers after the dot
    resMonth = int((resYear - int(resYear))*364/30)  # get the number of months, by multiply the number after the dot by 364 and divide by 30.
    resYear = int(resYear)
    return str(resYear) + "Y" + str(resMonth) + "m"

delivery_date
order_date

In [150]:
df = pd.DataFrame(shipping, columns=["order_date", "delivery_date"])
columns=["delivery_date", "order_date"]
for col in shipping[columns]:
    df["delta"] = [parse_date(datetime.datetime.strptime(shipping[col], '%Y-%m-%d') - datetime.datetime.strptime(shipping[col], '%Y-%m-%d')) for delivery_date, order_date in zip(df["delivery_date"], df["order_date"])]

    df["delta"]

TypeError: strptime() argument 1 must be str, not Series

In [81]:
shipping[shipping["Delivery_time"]> "1000 days"]

    order_date delivery_date Delivery_time
ID
2   1992-04-22    1998-03-06     2144 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
9   1990-01-25    1994-10-02     1711 days
10  1992-02-23    1998-12-30     2502 days
..         ...           ...           ...
972 1990-02-07    1995-11-05     2097 days
984 1991-07-25    1999-02-09     2756 days
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days

[250 rows x 3 columns]

In [89]:
shipping["Delivery_time"].min()

Timedelta('8 days 00:00:00')

In [90]:
shipping["Delivery_time"].max()

Timedelta('3583 days 00:00:00')